@media not (-moz-pref("mod.zen-groups.css")) {
	* {
		--zen-workspace-color-bg: var(--zen-primary-color);
		--zen-workspace-color-fg: var(--zen-colors-primary-foreground);
		--zen-workspace-color-stroke: var(--toolbox-textcolor);
	}


	#tabbrowser-tabs[movingtab] tab-group:not([split-view-group]) {
		overflow: visible;

		&:not([collapsed]) {
			max-height: inherit !important;
		}
	}

	.tab-group-label-container {
		#tabbrowser-tabs[orient="vertical"] & {
			tab-group:not([collapsed])>& {
				padding-block-end: 0 !important;
			}
		}
	}

	#tabbrowser-tabs[movingtab]:not([movingtab-createGroup],
		[movingtab-ungroup]) .tabbrowser-tab:is(:active,
		[multiselected]) {
		margin-left: 10px;
	}

	#tabbrowser-tabs:is([movingtab-createGroup],
		[movingtab-ungroup]) tab-group .tabbrowser-tab:is([selected],
		[multiselected]) {
		margin-left: 0;
	}

	#tab-group-rename-input {
		border: none !important;
		background: transparent !important;
		height: 36px !important;
		padding: 0 0 12px 0 !important;
		box-sizing: border-box !important;
	}


	tab-group:not([split-view-group]) {
		display: flex !important;
		flex-direction: column !important;
		margin: 2px !important;
		border-radius: calc(var(--zen-border-radius) + 2px) !important;

		.tab-group-icon {
			width: 35px;
			height: 35px;
			transition: margin .3s ease;
			flex-shrink: 0;
			margin-inline-end: calc(var(--toolbarbutton-inner-padding) / 3) !important;
		}

		.tab-group-icon svg {
			backface-visibility: hidden;
		}


		&:hover .tab-group-action-button {
			list-style-image: url('chrome://browser/skin/zen-icons/menu.svg');
		}

		& .tab-group-action-button {
			--toolbarbutton-inner-padding: 4px;
			margin-left: auto !important;
			flex-shrink: 0;

			&:hover,
			&[open] {
				list-style-image: url('chrome://browser/skin/zen-icons/menu.svg');
			}
		}

		&:hover .tab-group-tabs-button {
			list-style-image: url('chrome://browser/skin/zen-icons/search-glass.svg');
		}

		& .tab-group-tabs-button {
			--toolbarbutton-inner-padding: 4px;
			margin-left: auto !important;
			flex-shrink: 0;

			&:hover,
			&[open] {
				list-style-image: url('chrome://browser/skin/zen-icons/search-glass.svg');
			}
		}

		& .tab-group-label-container {
			flex-direction: row !important;
			--tab-group-color-pale: transparent !important;
			--tab-group-color: transparent !important;
			margin: 0 !important;
			margin-bottom: 3px !important;
			height: 36px !important;
			border-radius: calc(var(--zen-border-radius) + 2px) !important;


			&:hover {
				background-color: var(--tab-hover-background-color) !important;
			}

			&>label {
				background: transparent !important;
				color: var(--sidebar-text-color) !important;
				flex-grow: 1 !important;
				flex-shrink: 1 !important;
				min-width: 0 !important;
				white-space: nowrap !important;
				overflow: hidden !important;
				text-overflow: ellipsis !important;
			}
		}

		& tab:not([zen-glance-tab]) {
			margin-left: 10px !important;
			overflow: visible;

			.tab-group-line {
				--tab-group-color-invert: transparent !important;
				--tab-group-color: transparent !important;
			}
		}

		tab::before {
			background: none !important;
		}

		&[collapsed] {
			margin-bottom: 2px !important;
			overflow: visible;
			background: none !important;
		}

		tab-group:has(tab[hidden]) {
			display: none !important;
		}
	}

	/* Tabs popup */
	#tab-group-tabs-popup {
		--arrowpanel-padding: 0;
		width: 250px;
		height: 280px;
	}

	#tab-group-tabs-popup .tabs-list-header {
		display: flex;
		flex-direction: row;
		background: var(--zen-primary-color);
		padding: 6px;
		border-bottom: 1px solid var(--arrowpanel-border-color);
		margin-bottom: 4px;
	}

	#tab-group-tabs-popup #zen-group-tabs-list-search {
		background-color: var(--zen-primary-color) !important;
		border: none !important;
		outline: none !important;
		color: light-dark(white, black) !important;
		font-size: 1em;
	}


	#tab-group-tabs-popup .tabs-list-icon {
		width: 16px;
		height: 16px;
		margin: 10px 2px 10px 10px;
		color: light-dark(white, black);
	}

	.tabs-list-item:hover .tabs-list-item-background {
		background-color: var(--tab-hover-background-color);
		outline-color: var(--tab-hover-outline-color);
	}

	.tabs-list-item[selected="true"] .tabs-list-item-background {
		background-color: rgba(255, 255, 255, 0.12);
		box-shadow: var(--tab-selected-shadow);
		border-color: transparent;
	}

	.tabs-list-item-icon {
		width: 16px;
		height: 16px;
		flex-shrink: 0;
		margin-inline-end: 10px;
		margin-inline-start: 4px;
	}


	.tabs-list-item-labels {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		min-width: 0;
		color: var(--toolbox-textcolor);
	}

	.tabs-list-item-label,
	.tab-list-item-secondary-label {
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 250px;
		color: light-dark(black, white);
	}


	.tab-list-item-secondary-label {
		color: light-dark(black, white);
		opacity: 0.6;
		font-size: 0.8em;
	}


	#tab-group-tabs-popup .tabs-list-scrollbox {
		overflow: scroll;
	}

	.tabs-list-item {
		position: relative;
		border-radius: var(--zen-border-radius);
		cursor: default;
		margin: 2px;
	}

	.tabs-list-item-background {
		position: absolute;
		inset: 0;
		border-radius: inherit;
		margin-inline: var(--tab-block-margin);
	}

	.tabs-list-item-content {
		position: relative;
		height: 40px;
		display: flex;
		align-items: center;
		direction: ltr;
		padding: 0 var(--tab-inline-padding);
	}

	#tab-group-tabs-popup * {
		max-width: -moz-available;
	}

	tab-group .tab-group-container tab-group {
		padding-left: 10px !important;
	}
}
